.logo{
  width: 100%;
  height: 25em;
}
.body{
  background-color: black;
}
.showFilm {
  text-align: center;
  background-color: #007849;
  padding: 50px;
  margin: 10px;
}

.showPeople {
  text-align: center;
  background-color: #0375B4;
  color: #FFCE00;
  padding: 50px;
  margin: 10px;
}
.filmsHeading{
  background-color: #0375B4;
}
.filmTitle{
  background-color: #0375B4;
  color: #FFCE00;
  border-radius: 5px;
}

.personName{
  font-family: 'Kavivanar', cursive;
  font-size: 2em;
  background-color: #FFCE00;
  color: #007849;
}
.person {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}
.filmTitle{
  font-family: 'Kavivanar', cursive;
  font-size: 2em;
}
.film{
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.filmsBtn{
  font-size: 1.5em;
  background-color: #FFCE00;
  color: #0375B4;
}

.peopleBtn{
  font-size: 1.5em;
  background-color: #0375B4;
  color: #FFCE00;
}

